*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: lightgoldenrodyellow;
    color:black;
    size:100px;
}

.bi bi-house-fill{
    position: relative;
    right:300px;
}



.bi bi-person-square{
    top:100px;
    float: right;
}


nav{
    top:0px;
    height:70px;
}

.form-control mr-sm-2{
    border:500px;
    padding:100px;
}

article{
    width:1200px;
}

aside{
    border-color:black;
    top:300px;
    right: 20px;
    position: absolute;
    width:300px;
    padding:0px;
    float:right;
}

.jumbotron jumbotron-fluid
{
    height:200px;
}

.card{
    position:absolute;
}

.info_box{
    text-align: center;
    float:right;
    position:absolute;
    top:70px;
    left:120px;
}

footer{
    width:300px;
    background-color: lightyellow;
}